/* #505070 #4D3354*/

html, body {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.loader-screen {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}

.fadeToWhite {
    opacity: 0;
}

.row {
    min-width: 100%;
    min-height: 100%;
}

.full-bg {
    background-color: #4D3354;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-size: cover;
}

.pokemon {
    background: url('./gengar-ss.png') 0 0 no-repeat;
    z-index: 10;
    position: absolute;
    width: 500px;
    height: 500px;
    left: 54%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.animate-gengar {
    animation: gengarShift 2.2s steps(71) 2 alternate-reverse;
}

@keyframes gengarShift {
    100% {
        background-position: 0 -35500px;
    }
}

@media (min-width: 768px) {
    .pokemon {
        left: 53%;
        top: 40%;
    }
}

@media (min-width: 1200px) {
    .pokemon {
        left: 50%;
        top: 40%;
    }
}

@media (min-width: 1920px) {
    .pokemon {
        left: 52%;
        top: 40%;
    }
}

@media (min-width: 2250px) and (max-width: 2600px) {
    .pokemon {
        left: 42%;
        top: 30%;
    }
}

/******************************************************************************************/

body {
    padding: 50px 30px 60px 30px;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
}

.container-height {
    height: 100%;
}

.row {
    height: 100%;
}

.column-one {
    height: 100%;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
}

.name-container {
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}

#poke-num {
    font-size: 1.3em;
    font-weight: 800;
}

#poke-name {
    font-size: 2.5em;
    font-weight: 800;
}

.size-container {
    margin: auto;
    margin-left: 0;
    /* padding-top: 50px;  */
}

.size-container>span {
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    display: block;
}

/* Targets all the spans inside size-container */

.size-container span {
    font-size: 1.05em;
    font-weight: 600;
}

/* Targets the number inside the ids*/

#height, #weight {
    font-size: 0.93em;
    font-weight: 400;
}

#region-word {
    font-size: 1.05em;
    font-weight: 600;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}

#loc {
    font-weight: 400;
    font-size: 0.94em;
}

.pkm-container {
    position: relative;
}

#pkm-image {
    height: auto;
    max-width: 25em;
}

#kanji {
    display: block;
    position: absolute;
    top: 0;
    font-size: 8.125em;
    word-break: keep-all;
    font-weight: 600;
    transform: translateX(-45%);
    transform: translateX(-25%);
    opacity: 0.5;
    color: rgba(0, 0, 0, 0.66)
}

#base_stats {
    color: #fff;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    font-size: 2.5em;
    font-weight: 800;
}

.table-borderless td, .table-borderless th {
    padding: 0.30rem;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    color: #fff;
}

.table-borderless td {
    border: 0;
    vertical-align: middle;
}

.table-borderless th {
    border: 0;
    text-align: right;
    vertical-align: middle;
}

.table-borderless tbody {
    border: 0;
}

/* .table-borderless .p-bar hr {
    width: 250px;
    border-top: 30px solid #f7f7f7;
    margin:0;
} */

.table-borderless .p-bar {
    width: 200px;
    height: 12px;
    position: relative;
    z-index: 1;
}

.inner-bar {
    width: 35px;
    height: 10px;
    z-index: 10;
    background-color: #378260;
}

.evolutions {
    width: 35%;
}

.abilities li {
    background-color: transparent;
    border: 0;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.56);
    font-size: 1.3em;
}

.evolutionary-chain {
    margin: 60px 0;
    width: 80%;
    color: #fff;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.65);

}

.chain-row {
    width: 100%;
}

.evolutionary-chain h3 {
    font-weight: 600;
}

.base-stage, .base-stage img {
    width: 70%;
    align-self: center;
}

.right-arrow img{
    width: 100%;
    height: 16px;
}
